<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load stylesheets -->
    <link rel="stylesheet" type="text/css" 
        href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>  

    <div class='container' ng-app='myApp'>
        <div ng-controller='myController'>
            <div class='row'>
                <div class='col-lg-1 col-sm-4 col-xs-12'>
                    <p>Rhyme: <span id='rhyme'></span></p>
                </div>
                <div class='col-lg-5 col-lg-offset-1 col-sm-7 col-xs-12'>
                    <div ng-model='inputText' 
                         ui-ace="ace_options">
                    </div>
                </div>
                <div class='col-lg-4 col-sm-5 col-xs-12'>
                    <table class="table table-bordered text-center">
                        <tr><th colspan='3'>Legend</th></tr>
                        <tr><th>#</th><th>Name</th><th>Pattern</th></tr>
                        <tr>
                            <td>i</td>
                            <td>Iambic Pentameter</td>
                            <td>0101010101</td>
                        </tr>
                        <tr>
                            <td>t</td>
                            <td>Trochaic Tetrameter</td>
                            <td>10101010</td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>Anapestic Trimeter</td>
                            <td>001001001</td>
                        </tr>
                        <tr>
                            <td>d</td>
                            <td>Dactylic Hexameter</td>
                            <td>100100100100100100</td>
                        </tr>                                                                        

                    </table>               
<!--                     <table class="table table-bordered">
                        <tr><th colspan='2'>Meter Legend</th></tr>
                        <tr><th>Name</th><th>Symbol</th></tr>
                        <tr ng-repeat='meter in meterTypes'>
                            <td>{{meter.name}}</td>
                            <td>{{meter.symbol}}</td>
                        </tr>
                    </table> -->
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-xs-8 col-xs-offset-2'>
                    <table class="table table-bordered">
                        <tr><th colspan='5'>Poem Types</th></tr>
                        <tr><th>Name</th><th>Foot</th><th>Lines</th><th>Rhyme</th><th>Syllables</th></tr>
                        <tr>
                            <td>Haiku</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>5 - 7 - 5</td>
                        </tr>
                        <tr>
                            <td>Blank Verse</td>
                            <td>Iambic</td>
                            <td></td>
                            <td></td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Couplet</td>
                            <td></td>
                            <td></td>
                            <td>AA BB CC DD ...</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Limerick</td>
                            <td>Anapestic</td>
                            <td>5</td>
                            <td>AABBA</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Terza Rima</td>
                            <td>Iambic</td>
                            <td></td>
                            <td>ABA BCB CDC DED ...</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>English Sonnet</td>
                            <td>Iambic</td>
                            <td>14</td>
                            <td></td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Patrachan Sonnet</td>
                            <td>Iambic</td>
                            <td>14</td>
                            <td></td>
                            <td>10</td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr><th colspan='4'>Classic English Meters</th></tr>
                        <tr><th>Name</th><th>Foot</th><th># Feet</th><th># Syllables</th></tr>
                        <tr>
                            <td>Iambic Pentameter</td>
                            <td>- *</td>
                            <td>5</td> 
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Trochaic Tetrameter</td>
                            <td>* -</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Anapestic Trimeter</td>
                            <td>- - *</td>
                            <td>3</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Dactylic Hexameter</td>
                            <td>- - *</td>
                            <td>3</td>
                            <td>9</td>
                        </tr>
                    </table>
<!--                 <div ng-repeat="item in word_dicts" class="col-sm-3 col-xs-6 table-word">
                    <table class="table table-bordered" >
                        <thead>
                            <tr><th colspan='2'>{{item.word}}</th></tr>
                            <tr><th>Phoneme</th><th>Stress</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in item.phonemes">
                                <td>{{obj.phoneme}}</td>
                                <td>{{obj.stress}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            </div>
        </div>
    </div>

<!-- javascript library files -->

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src="javascripts/ace-noconflict.js"></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/socket.io-client/socket.io.js'></script>    
    <script src="javascripts/ui-ace.js"></script>
    <!-- // <script src="bower_components/ace-builds/src/mode-javascript.js"></script> -->
    <script src="bower_components/angularjs-indexedDB/src/indexeddb.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>    

<!-- angular text editor app files -->

    <script src='javascripts/angular_editor/data-factory.js'></script>
    <script src='javascripts/angular_editor/main-controller.js'></script>
    <script src='javascripts/angular_editor/app.js'></script>  
    <script src='javascripts/angular_editor/moduleIndexedDB.js'></script>

    <script>
      // var socket = io.connect();
      // socket.on('news', function (data) {
      //   console.log(data);
      //   socket.emit('my other event', { my: 'data' });
      // });

    </script>

  </body>
</html>
