<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load stylesheets -->
    <link rel="stylesheet" type="text/css" 
        href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Text Editor  <%= title %></p>

    <div ng-app='myApp'>
        <div ng-controller='myController'>
            <div ng-model='inputText' 
                 ui-ace="{theme:'twilight',
                          mode:'javascript',
                          onLoad: aceLoaded}">
            </div>
            <h4>Number of lines: {{numLines}}</h4>
            <ul>
                <li ng-repeat="item in syllables">
                    <h4>{{item.word}}</h4>
                    <table>
                        <thead>
                            <tr><th>Phoneme</th><th>Stress</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in item.phonemes">
                                <td>{{obj.phoneme}}</td>
                                <td>{{obj.stress}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>

        </div>
    </div>

<!-- javascript library files -->

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <!-- // <script src="bower_components/ace-builds/src/mode-javascript.js"></script> -->
    <script src="bower_components/angularjs-indexedDB/src/indexeddb.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>

<!-- angular text editor app files -->

    <script src='javascripts/angular_editor/main-controller.js'></script>
    <script src='javascripts/angular_editor/app.js'></script>  
    <script src='javascripts/angular_editor/moduleIndexedDB.js'></script>

  </body>
</html>
