body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ace_editor { 
    height:555px;
}

table th {
    text-align:center;
}

ul {
    list-style: none;
}

@media (max-height: 555px) { 

    .ace_editor { 
        height:400px;
    }

}

@media (min-height: 555px) and (max-height: 768px) { 

    .ace_editor { 
        height:440px;
    }

}

